@use '../../styles/vars' as v;

.settings-navbar {
  padding: 1rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba($color: #000, $alpha: .4);
  border-radius: 1rem;
  display: flex;
  gap: 1rem;

  .link {
    padding-inline: 1rem;
    height: 2.5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    &:hover {
      background: #d8d8d8;
    }

    &.active {
      background: #d8d8d8;
      color: #1d8ab1 !important;
    }
  }
}