@use '../../styles/vars' as v;

.album {
  padding: 1rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba($color: #000, $alpha: .4);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-info {
    display: flex;
    gap: 1rem;
  }

  &-tracklist {
    .track {
      display: flex;
      gap: 1rem;
    }
  }
}